<section class="mt-3">
  <!-- <section class="d-flex justify-content-between">
            <h5>Task Tracker</h5>
            <app-button [color]="'green'" [text]="'Add'" (EmitEvent)="handleToggleView($event)"></app-button>
        </section> -->
  <!-- <section class="card">
            <div class="card-body"> -->

  <addtodos (addTodo)="handleAddTodos($event)"></addtodos>

  <!-- </div>
        </section> -->

  <!-- 

         <section class="mt-2" *ngIf="todos$ | async as todoos">
    <todo-thubmnail
      [toggle]="toggleView"
      *ngFor="let todo of todoos; last as Islast"
      [last]="Islast"
      [todo]="todo"
      (onDelete)="handleDelete($event)"
      (onToggle)="handleToggle($event)"
    >
    </todo-thubmnail>
  </section>
</section> -->

  <section class="mt-2">
    <todo-thubmnail
      [toggle]="toggleView"
      *ngFor="let todo of todos; last as Islast"
      [last]="Islast"
      [todo]="todo"
      (onDelete)="handleDelete($event)"
      (onToggle)="handleToggle($event)"
    >
    </todo-thubmnail>
  </section>
</section>
